<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On
  
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule  ^(.+)$ index.php?ruta=$1 [QSA,L]
</IfModule>
RewriteCond %{HTTP_HOST} ^param\.senasubsedemalambo\.com\.co$
RewriteRule ^/?$ "https\:\/\/param\.senasubsedemalambo\.com\.co\/" [R=301,L]

